<p>
¥¥
</p>

<h2>目次</h2>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link a_weak" href="#online_classroom">オンラインクラスルームとは？</a>
  </li>
  <li class="nav-item">
    <a class="nav-link a_weak" href="#prepare">準備</a>
  </li>
  <li class="nav-item">
    <a class="nav-link a_weak" href="#just_do_it">やってみる</a>
  </li>
  <li class="nav-item">
    <a class="nav-link a_weak" href="#last">さいごに</a>
  </li>
</ul>

<br><br>
