/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.background {
  background-color: #fff3c2;
  height: 1000px;
}

.wrap {
  margin: auto;
  width: 700px;
  background-color: white;
  height: 1000px;
}

.header {

}

.head_title {
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(image-path('back.jpg'));
  background-size:auto;
  width: 700px;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 25px;
  font-size: 30px;
  font-weight: bold;
}

.head_signin {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 15px;
  font-weight: normal;
}

.head_signin:hover {
  background-color: #5bc0de;
}

.head_navi {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.body_wrap {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}